@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;    


/* Добавьте эти стили в ваш CSS файл */
.scrollbar-visible {
    overflow-x: auto;
  }
  .scrollbar-visible::-webkit-scrollbar {
    height: 8px; /* Высота полосы прокрутки */
  }
  
  .scrollbar-visible::-webkit-scrollbar-thumb {
    background: #c5c5c5; /* Цвет "ползунка" */
    border-radius: 10px; /* Скругление краёв */
  }
  
  .no-scrollbar {
    scrollbar-width: none; /* Для Firefox */
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Для WebKit (e.g. Safari, Chrome) */
  }