@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.react-calendar__navigation {
    & button.react-calendar__navigation__arrow.react-calendar__navigation__arrow--double {
        display: none;
    }
    display: flex;
    padding: 0 12.5rem; 
    justify-content: center;
    align-items: center;
    font-size: 1.3rem; 
    font-weight: 600;
    color: #7130A3;
    background: none;
    border: none;
    position: relative;
    &__arrow {
        position: relative;
        &--prev {
            margin-right: 0.6rem; 
        }
        &--next {
            margin-left: 0.6rem; 
        }
    }
    &__label {
        color: #7130A3;
        display: inline;
        text-transform: capitalize;
        margin: 0 0.6rem;
    }
    & button {
        color: #A3A3A3;
    }
}

.calendar-container {
    max-width: 100%;
    height: clamp(31.3rem, calc(100vh - 3.8rem), 100vh); 
    box-shadow: 0.3rem 0.3rem 1.3rem rgba(0, 0, 0, 0.25); 
    border-radius: 1.6rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(234, 207, 255, 0.63) 0.55%, rgba(231, 249, 255, 0.54) 100%);
}

.react-calendar {
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;

    &__month-view {
        &__weekdays {
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: #779F7C;
            text-decoration: none;
            margin-bottom: 1.2rem;
            &__weekday {
                padding: 0.6rem 0; 
                abbr {
                    text-decoration: none;
                }
            }
        }
    }

    &__tile {
        height: 6.2rem; 
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        padding: 0.6rem; 
        font-size: 1.2rem;
        font-weight: bold;
        color: #3EB1B8;
        flex-direction: column;
        overflow-y: hidden;

        .event-container {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            max-height: 8rem; 
        }

        &--active {
            background: #68a7f5;
           color: #fff;

            &:enabled:hover {
                background: #3EB1B8;
  
            }
            &:enabled:focus {
                background: #3EB1B8;
    
            }
        }
        
        
    }
}

.event {
    background-color: #7130A3;
    color: #fff;
    padding: 0.4rem 0.8rem; 
    border-radius: 1.2rem; 
    margin: 0.2rem auto; 
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 500;
}